.categories {
  list-style: none;
}
.categories > li {
  display: inline;
  margin: 35px 20px 15px 20px;
  padding-right: 40px;
  border-right: 1px solid black;
}
.searchDiv {
    width: 40%;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    background-color: #32cdfe;
    color: black !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .searchInputDiv{
      display: flex;
      flex-direction: row;
      width: 98%;
  }
.searchInput {
  width: 80%;
  height: 45px;
  border-radius: 30px;
  border: none;
}

.searchInput:focus{
    outline: none;
}

.products {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 5px;
}
.homeCard {
  width: 270px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 30px;
  box-shadow: .5px .5px .5px #ccc;
}
.homeCard:hover{
    cursor: pointer;
    box-shadow: 1.5px 1.5px 1.5px #ccc;
}
.productImage {
  width: 70%;
  height: 60%;
}
p{
    font-size: 30px;

}

